@{
    ViewBag.Title = "Courses";
}

<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />

<div class="text-center">
    <h1 class="display-4">Welcome Course List</h1>
</div>

<style>
    .cat_row {
        background: #f8f8f8;
        padding: 7px 7px 5px 7px;
        font-size: 12px;
        font-weight: 600;
    }

    .Title {
        background: #f8f8f8;
        padding: 7px 7px 5px 7px;
    }

    .course_info h4 a {
        color: #2d4050;
        font-size: 18px;
        font-weight: 600;
    }

    .course_info .summary {
        height: 72px;
        overflow: hidden;
        font-size: 13px;
    }
</style>

<div class="row">
    <div class="col s12 m6">
        <div class="card" style="width:350px">
            <div class="card-image">
                <img src="~/images/DevSkill.png" />
            </div>
            <div class="card-content">
                <div class="cat_row">
                    Online
                    <span class="pull-right"><i class="fa fa-circle-o"></i>Beginner</span>
                </div>
                @*<div class="info" >*@
                @*<div class="row">*@
                <div class="course_info" style="padding-top:1px">
                    <h4><a href="/Course/ViewDetails/b4f3d093-2a7d-c08e-9f8d-08d7c299f10f">Competitive Programming - Beginner</a></h4>
                    <p class="summary" style="text-align: justify;">
                        Solving a problem is meaningless if you can't convert it to a workable code in a contest that covers all the edge cases. Solving a problem, writing its code in an efficient language is a must for a problem solver. And currently, the fastest known coding language for a competitive programmer is undoubtedly C++.

                        We will go through each C++ concepts needed for a competitive programmer in order to ace in contests and problem solving.
                    </p>

                    <div class="price pull-right" style="padding-top:5px">
                        <span style="color:green;font-size: 16px;">
                            ৳5,000
                        </span>
                    </div>
                </div>
                @*</div>*@
                <hr />
                <div class="separator clearfix">
                    <p style="color:forestgreen;font-weight:bold;margin-top:2px;font-size: 14px; margin-bottom:2px;">Registration Is Going On</p>
                </div>
                <hr />
                <div class="separator clearfix">
                    <p class="btn-details" style="width:100%;font-size: 14px;"> <a href="/Course/ViewDetails/b4f3d093-2a7d-c08e-9f8d-08d7c299f10f"><i class="icon-list"></i> Details</a></p>
                </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>
